*
{
	margin:0;
	padding:0;
	font-family: 'Redressed', cursive;
	box-sizing:border-box;
	scroll-behavior: smooth;
}

/*** Custom Variable ***/

:root{
	--purple:#800080;
}

/*** ScrollBar ***/

::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-track
{
	background-color: #ccc;
	margin: 10px 0;
	border-radius:100vw;
}
::-webkit-scrollbar-thumb
{
	background-color: var(--purple);
	border-radius:100vw;
	height: 15px;
	border: 1px solid #ccc;
}

/** HomePage ***/

#banner
{
	background: linear-gradient(rgba(0,0,0,0.5),var(--purple)),url(front.jpeg);
	background-size:cover;
	background-position:center;
	height:100vh;
}
.logo
{
	width:100px;
	height:100px;
	position:absolute;
	top:55px;
	left:4%;
	border:none;
	transform: scale(1);
	border-radius:50%;
}
.banner-text
{
	color:white;
	padding-top:140px;
	text-align:center;
	overflow: hidden;
}
.banner-text h1
{
	font-size:100px;
	font-family: 'Gloria Hallelujah', cursive;
	transform: scale(1);
}
.banner-text p
{
	font-size:30px;
	font-style:italic;
	opacity:1;
	position: relative;
}
.banner-btn
{
	margin: 30px auto 0;
}
.banner-btn a
{
	
	width:150px;
	text-decoration:none;
	display:inline-block;
	margin:0 10px;
	padding:12px 0;
	color: white;
	border:2px solid white;
	position:relative;
	z-index:1;
	transition: color 0.5s;
}
.banner-btn a span
{
	width:0%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background:white;
	z-index:-1;
	transition: 0.5s;
}
.banner-btn a:hover span
{
	width:100%;	
}
.banner-btn a:hover
{
	color:black;
}
nav
{
	position: fixed;
	top:55px;
	right:10px;
	width:50px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}
nav .navbar
{
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-45deg);
}
.navbar .toggle-btn,
.navbar span a
{
	height:40px;
	width: 40px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	cursor: pointer;
}
.navbar .toggle-btn
{
	font-size: 30px;
	color:var(--purple);
	z-index: 100;
	transform: rotate(-225deg) !important;
	transition: all 0.5s linear;
}
.navbar span
{
	position: absolute;	
	transition: all 0.5s ease-in-out;
	opacity: 0;
}
nav.active span
{
	transform: rotate(calc(var(--i) * (360deg / 8))) translateY(70px); 
	opacity: 1;
}
nav.active .toggle-btn
{
	transform: rotate(0deg) !important;
}
.navbar span a
{
	text-decoration: none;
	transform: rotate(45deg);
}
.navbar span a i
{
	font-size: 16px;
	color:var(--purple);
	transform: rotate(calc(var(--i) * (360deg / -8)));
	transition: 0.2s;
}
.navbar span a:hover 
{
	background: var(--purple);
}
.navbar span a:hover i
{
	color: #fff;
}

/** Responsive Homepage **/

@media screen and (max-width:770px)
{
	.banner-text h1
	{
		font-size:44px;
	}
	.banner-btn a
	{
		display:block;
		margin:20px auto;
	}
	.navbar .toggle-btn,
	.navbar span a
	{
		height:30px;
		width: 30px;
	}
	.navbar span a i
	{
		font-size: 14px;
	}
	.navbar .toggle-btn
	{
		font-size: 18px;
	}	
	nav.active span
	{
		transform: rotate(calc(var(--i) * (360deg / 8))) translateY(45px); 
	}
	.logo
	{
		width: 75px;
		height: 75px;
	}
}
/*--Titles--*/

.title-text
{
	margin: 10px 0;
	text-transform: uppercase;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px 10px;
}
.title-text h1,
.title-text p
{
	position: relative;
	transform-origin: left;
	transition: 0.5s;
	transition-delay: 0.5s;
	transform: scaleX(0);
}
.title-text h1.active,
.title-text p.active
{
	transform: scaleX(1);
}
.title-text h1
{
	font-size: 24px;
	letter-spacing: 1px;
	margin-top: 5px;
}
.title-text p
{
	font-size: 18px;
	font-weight: 800;
	color:var(--purple);
}
.title-text p::before,
.title-text h1::before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transform: scaleX(1);
}
.title-text p.active::before,
.title-text h1.active::before
{
	transform: scaleX(0);
	transform-origin: right;
	transition-delay: 0.5s;
}
.title-text h1::before
{
	background: #000;
}
.title-text p::before
{
	background: var(--purple);
}

/*--Feature--*/

#features
{
	width:100%;
	padding:70px 0;
}
.feature-box
{
	width:80%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	text-align:center;
}
.feature
{
	flex-basis:50%;
	opacity:1;
}
.feature-img
{
	flex-basis:50%;
	margin:auto;
}
.feature-img img
{
	width:70%;
	border-radius:20px;
	height:400px;
	margin-bottom:20px;
}
.feature h1
{
	text-align:left;
	margin-bottom:10px;
	font-weight:100;
	color:purple;
}
.feature-desc
{
	display:flex;
	align-items:center;
	margin-bottom:40px;
}
.feature-icon .fa
{
	width:50px;
	height:50px;
	font-size:30px;
	line-height:50px;
	border-radius:8px;
	color:var(--purple);
	border:1px solid var(--purple);
}
.feature-text
{
	padding: 0 20px;
	text-align:initial;
}

/** Responsive Features **/

@media screen and (max-width:770px)
{
	.title-text h1
	{
		font-size:30px;
	}
	.feature
	{
		flex-basis:100%;
	}
	.feature-img
	{
		flex-basis:100%;
	}
	.feature-img img
	{
		width:100%;
	}	
}

/***Products***/
#products
{
	width:100%;
	padding:30px 0;
	background: lightgray;	
	z-index: 3;
}
.product-box
{
	width:90%;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:auto;
}
.single-product
{
	flex-basis:30%;
	height:300px;
	text-align:center;
	color:white;
	position:relative;
	transform: translateY(100px);
	transform-origin: top;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25% );
	overflow: hidden;
	margin: 10px;
	opacity: 0;
	transition: 1s;
}
.single-product.active
{
	flex-basis:30%;
	height:300px;
	text-align:center;
	color:white;
	position:relative;
	transform: scaleY(1);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25% );
	overflow: hidden;
	margin: 10px;
	opacity: 1;
}
.single-product:nth-child(4),
.single-product:nth-child(5)
{
	margin-top: -75px;
}
.single-product img
{
	width:100%;
	border-radius:7px;
	height:100%;
	object-fit: cover;
	transition: transform 0.5s linear;
}
.single-product:hover img
{
	transform: scale(1.3);
	transform-origin: left;
}
.overlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	border-radius:7px;
	cursor:pointer;
	background:linear-gradient(rgba(0,0,0,0.5),var(--purple));
	opacity:0;
	transition:1s;
}
.single-product:hover .overlay
{
	opacity:1;
}
.product-desc
{
	width:80%;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	opacity:0;
	transition:1s;
}
hr
{
	background:white;
	border:none;
	width:60%;
	margin:15px auto;
	height:2px;	
}
.product-desc p
{
	font-size:20px;
}
.single-product:hover .product-desc
{
	bottom:40%;
	opacity:1;
}

/** Responsive Products **/

@media screen and (max-width:770px)
{
	.single-product.active,
	.single-product
	{
		flex-basis:100%;
		margin-bottom: 30px;
		clip-path: unset;
		border-radius: unset;
	}
	.single-product:nth-child(4),
	.single-product:nth-child(5)
	{
		margin-top: unset;
	}
	.single-product
	{
		transform: translateY(50px);
	}
	.product-desc p
	{
		font-size:12px;
	}
	hr
	{
		margin:5px auto;
	}
	
}

/*---Testimonials---*/

#testmonials
{
	position:relative;
	width:100%;
	height:100vh;
	background:rgb(55, 162, 197);
	display:flex ;
	justify-content:center;
	align-items:center;
}
.swiper-container
{
	padding-top:50px;
	padding-bottom:10px !important;
	width:100%;	
	overflow:hidden !important;
}
.swiper-slide
{
	background-position:center;
	background-size:cover;
	width:320px !important;
	height:400px !important;
	background:#fff;
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	filter:blur(4px);
	border-radius:10px;
}
.swiper-slide-active
{
	filter:blur(0px);
}
.Testimonial-box
{
	position:relative;
	width:100%;
	padding:20px;
	padding-top:90px;
}
.Testimonial-box .content p
{
	font-size: 20px;
	position: relative;
}
.Testimonial-box .content p::before
{
	content: open-quote;

}
.Testimonial-box .details
{
	display:flex;
	align-items:center;
	margin-top:20px;
}
.Testimonial-box .details .imageBox
{
	position:relative;
	width:60px;
	height:60px;
	border-radius:50%;
	overflow:hidden;
	margin-right:20px;
}
.Testimonial-box .details .imageBox img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}
.Testimonial-box .details h3
{
	color:blue;
	font-size:25px;
	font-weight:400px;
	letter-spacing: 1px;
	line-height:1.1em;
}
.Testimonial-box .details h3 span
{
	font-size:20px;
	color:grey;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
	background-image:none;
}

/** Responsive Testimonials **/

@media screen and (max-width:770px)
{
	.swiper-slide
	{
		flex-basis:100%;
	}
}

/*---Footer---*/

#footer
{
	padding: 80px 0 20px;
	background:lightgray;
	position:relative;
}
.footer-row
{
	width:80%;
	display:flex;
	margin:auto;
	justify-content:space-between;
	flex-wrap:wrap;

}
.footer-left,.footer-right
{
	flex-basis:45%;
	padding: 10px;
	margin-bottom:20px;

}
.footer-right
{
	text-align:right;
}
.footer-row h1
{
	margin: 10px 0;
}
.footer-row p
{
	line-height:35px;
}
.footer-left .fa,.footer-right .fa
{
	font-size:20px;
	color:var(--purple);
	margin:10px;
}
.social-links
{
	display: grid;
	place-items: center;
}
.wrapper .button
{
	display:inline-block;
	width:40px;
	height:40px;
	float:left;
	margin:0 5px;
	background:lightgray;
	border-radius:50px;
	cursor:pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.5s ease-out;
	overflow:hidden;
}
.wrapper .button:hover
{
		width:200px;
}
.wrapper .button .icon
{
	display:inline-block;
	border-radius:50%;
	border:1px solid var(--purple);
	height:40px;
	width:40px;
	box-sizing:border-box;
	line-height:60px;
	text-align:center;
	transition: all 0.5s ease-out;
	color:var(--purple);
}
.wrapper .button .icon i
{
	font-size:20px;
	line-height:40px;
}
.wrapper .button span
{
	font-size:20px;
	line-height:40px;
	font-weight:500;
	margin-left:10px;
	transition: all 0.5s ease-out;
}
.wrapper .button:nth-child(1):hover .icon 
{
	background:blue;
	color:#fff;
}
.wrapper .button:nth-child(2):hover .icon 
{
	background:lightblue;
	color:#fff;
}
.wrapper .button:nth-child(3):hover .icon 
{
	background:linear-gradient(125deg,red,var(--purple));
	color:#fff;
}
.wrapper .button:nth-child(4):hover .icon 
{
	background:red;
	color:#fff;
}
.wrapper .button:nth-child(5):hover .icon 
{
	background:blue;
	color:#fff;
}
.wrapper .button:nth-child(1):hover span
{
	color:blue;
}
.wrapper .button:nth-child(2):hover span
{
	color:lightblue;
}	
.wrapper .button:nth-child(3):hover span
{
	color:var(--purple);
}	
.wrapper .button:nth-child(4):hover span
{
	color:red;
}	
.wrapper .button:nth-child(5):hover span
{
	color:blue;
}	
.social-links p
{
	margin: 20px auto;
}

/** Responsive Footer **/

@media screen and (max-width:770px)
{
	.footer-left,.footer-right
	{
		flex-basis:100%;
		font-size:14px;
	}
	.footer-right
	{
		text-align:left;
	}
	.footer-left .fab,.footer-right .fa
	{
		font-size:14px;
	}
}
/** Testimonials**/
